# 01. Python Basics
    
작성자 : 김정훈 <br>
수정   : 한기영


#### 주의 : 파이썬의 모든 것을 다루지 않습니다. Machine Learning 또는 Deep Learning 을 공부하기 위해 최소한 알아야 하는 범위만을 다룹니다.

#### 실습목표
1. 데이터 타입을 알고 있다. - 숫자, 문자, boolean
2. 출력문(print)을 이용하여 출력할 수 있다.
3. 조건문(if-else)이 무엇인지 알고 조건문이 사용된 소스코드를 이해할 수 있다. 
4. 반복문(loop)이 무엇인지 알고 반복문이 사용된 소스코드를 이해할 수 있다. 
5. 자료형이 무엇인지 알고 자료형이 사용된 소스코드를 이해할 수 있다.
6. List, Dictionary, Set, Tuple 각 자료형의 특징과 차이점을 안다.
7. 함수(Function)가 무엇인지 알고, 함수가 사용된 소스코드를 이해할 수 있다. 간단한 함수를 작성할 수 있다. 
8. Python으로 작성된 소스코드를 이해하고, 간단한 코드를 작성할 수 있다.

## Magic 키워드
* Jupyter Notebook은 사용자 편의를 위해 Magic 키워드 를 지원한다.
* Magic 키워드는 % 또는 %%를 이용하여 실행할 수 있다. 각각 한 줄, 한 셀에 대해 Magic 키워드를 실행한다.

In [ ]:
# 메모리를 리셋한다.
%reset

## 00. Hello Python

In [ ]:
print("Hello, Python World!!") 

# !주의 
# 아래의 주석을 해제하여 실행해보자.

# print "Hello, Python World!!"

In [ ]:
# help '?' 이용, or Shift + Tab
?print

* Python은 대소문자를 구분합니다.

In [ ]:
"Abc" == "abc"

## 01. Basic data types

In [ ]:
# 숫자
# 숫자는 다른 언어에서 예상하는대로 작동합니다.

x = 3
print(x)       # "3" 출력
print(type(x)) # Prints "<class 'int'>"

In [ ]:
# 숫자형 변수에 대한 기본 연산
print(x + 1)   # 더하기, "4"
print(x - 1)   # 빼기, "2"
print(x * 2)   # 곱하기, "6"
print(x ** 2)  # 2제곱, "9"
print(x ** 3)  # 3제곱, "27"
print(x / 2)   # 2로 나누기, "1.5"
print(x % 2)   # 2로 나누고 나머지, "1"

In [ ]:
print(x)
x = x + 1
print(x)
x += 1   # x = x+1과 같은 문장
print(x)

In [ ]:
x = x * 2
print(x)
x *= 2
print(x)

* 그럼 나누기(/)와 빼기(-)는?

In [ ]:
y = 2.5
print(type(y)) # Prints "<class 'float'>"

print(y, y + 1, y * 2, y ** 2) # "2.5 3.5 5.0 6.25"

* True/False Boolean

In [ ]:
t = True
f = False
print(type(t)) # Prints "<class 'bool'>"

In [ ]:
print(t and f) # AND 연산, "False"
print(t or f)  # OR 연산, "True"
print(not t)   # NOT 연산, prints "False"

* 문자열

In [ ]:
# 파이썬은 문자열에 대해 상당한 편의성을 지원합니다.

hello = 'hello'    # 작은 따옴표를 사용할 수 있습니다.
world = "world"    # 큰 따옴표도 사용할 수 있습니다.
print(hello)       # "hello" 출력.
print(len(hello))  # 문자열 길이 출력 - "5"

In [ ]:
hw = hello + ' ' + world  # 문자열 연결
print(hw)  # "hello world" 출력

hw12 = '%s %s %d' % (hello, world, 12)  # 변수를 활용하는 문자열 서식
print(hw12)  # "hello world 12" 출력

In [ ]:
# New version~! 
hw12 = '{} {} {}'.format(hello, world, 12)  # 변수를 활용하는 문자열 서식
print(hw12)  # "hello world 12" 출력

In [ ]:
# 소수점 자리수를 제한하려면
hw12 = '{:.3f}'.format(12.123456)  # 변수를 활용하는 문자열 서식
print(hw12)  # "hello world 12" 출력

In [ ]:
s = "hello"
print(s.capitalize())  # Capitalize, 알파벳 첫 문자를 대문자로
print(s.upper())       # 문자열 전체를 대문자로, "HELLO"

In [ ]:
# 공백 문자열을 추가하여 출력하되
print(s.rjust(7))      # 오른쪽 정렬로 출력, "  hello"
print(len(s.rjust(7))) # 문자열 길이는 7
print(s.ljust(7))      # 왼쪽 정렬로 출력, "hello  "
print(len(s.rjust(7))) # 문자열 길이는 7
print(s.center(7))     # 중앙 정렬로 출력, " hello "
print(len(s.center(7)))

In [ ]:
# 문자열 변경
print(s.replace('o', ', go'))  # 'o'을 ', go'로 바꿈, "hell, go"

# 앞 뒤 빈 문자열 제거
print('  world '.strip())

In [ ]:
# 여러 변수를 한 줄에 입력
a, b, c = 10, 'Hello', 0.1
print("{} {} {}".format(a, b, c))

### 실습 : Python_basics ①

In [ ]:
out = "{}번 학생 {}, 총점은 {:.1f}점 입니다."

stu01 = " 한기영 "
stu01_num = 1
stu01_course_1 = 92
stu01_course_2 = 96
stu01_course_3 = 98


stu02 = " 김정훈 "
stu02_num = 2
stu02_course_1 = 58
stu02_course_2 = 64
stu02_course_3 = 100

stu03 = " 노경미 "
stu03_num = 3
stu03_course_1 = 88
stu03_course_2 = 84
stu03_course_3 = 92


# 1) 자신의 이름을 가지고 위의 변수값을 참고하여 동일한 형태로 stu04를 만들어 주세요. 
stu04 = 
stu04_num = 
stu04_course_1 = 
stu04_course_2 = 
stu04_course_3 = 


# 2) strip() 함수를 이용하여, 각 학생들의 이름의 앞뒤에 있는 공백을 지워서 다시 같은 변수에 담기.
# stu01, stu02, stu03, stu04


# 3) 각 학생들의 평균점수 구하기
# stu01_avg, stu02_avg, stu03_avg, stu04_avg


# 4) replace()를 사용하여, out 변수에 들어있는 문자열 중에 '총점은' 부분을 '평균점수는'으로 바꿔서 다시 out에 넣기.


# 5) out을 이용하여 각 학생의 번호, 이름, 평균점수 출력

## 021. 제어문(Control)

In [ ]:
 # 조건문 - if-else

my_score = 73
 
if my_score >= 90:
    my_grade = 'A'
elif my_score >= 80:
    my_grade = 'B'
elif my_score >= 70:
    my_grade = 'C'
elif my_score >= 60:
    my_grade = 'E'
else:
    my_grade = 'F'
 
print(my_grade)

In [ ]:
# 반복문 : for
for i in range(5):
    print(i)

In [ ]:
fruits = ['apple', 'banana', 'cherry']
print(type(fruits))
for i in fruits:
    print(i)

In [ ]:
print(fruits)

In [ ]:
for index, value in enumerate(fruits):
    print(index, value)

# enumerate() 순서가 있는 자료형를 입력받아, 인덱스와 값을 포함하는 오브젝트로 리턴.

In [ ]:
# 반복문 - while
i = 0 
while i < len(fruits):
    print(fruits[i])
    i += 1

### 실습 : Python_basics ②

In [ ]:
score1 = 72
score2 = 90
score3 = 76

# 1) score 값에 따라 등급을 주는 다음의 조건문을 완성하시오.
# 95점 이상 A+. 90점 이상 A, 85점 이상 B+, 80점 이상 B,
# 75점 이상 C+. 70점 이상 C, 60점 이상 D, 60점 미만 F



# 2) score1, score2, score3 각 점수중 하나라도 60점 이하거나 
# 점수의 평균이 80점 이하이면 Fail
# 그렇지 않은 경우에는 Pass를 주는 조건문을 완성하시오.



# 3) for문과 range를 사용하여 1 ~ 100까지의 합을 구하시오



# 4) while문을 사용하여 1 ~ 100까지 사이의 홀수의 합을 구하시오

## 031. 자료형(Container) - Lists

In [ ]:
# 리스트 생성
age1 = 44
age2 = 44
age3 = 14
age4 = 12
age5 = 8

family_age = [44,44,14,12,8]
print(family_age)

In [ ]:

family = ['Dad',44,'Mom',44,
         'Son1',14, 'Son2',12, 'Son3',8]
print(family)

In [ ]:
# 인덱스로 데이터 가져오기
print(family[0])
print(family[-3])

In [ ]:
# 슬라이싱
print(family[2:6])
print(family[6:])

In [ ]:
print(family)

# 값 변경하기
family[7] = 13
print(family)

family[8:] = ['Son4', 9]
print(family)

* 추가 연습

In [ ]:
xs = [3, 1, 2]
print(xs)                   # "[3, 1, 2]"
print(xs[1], xs[2], xs[0])  # "1 2 3"
print(xs[-1])               # "2"

In [ ]:
# 리스트 내용 변경
xs[2] = 6
print(xs)         # "[3, 1, 6]"

In [ ]:
# 하나의 리스트 내에 여러가지 타입이 들어갈 수 있다.
xs[2] = 'foo'
print(xs)         # "[3, 1, 'foo']"

In [ ]:
# 새로운 요소 추가
xs.append('bar')
print(xs)         # "[3, 1, 'foo', 'bar']"

In [ ]:
# 요소 제거
del xs[2]
print(xs)         # "[3, 1, 'bar']"

In [ ]:
# range 결과를 리스트로 만들기
list(range(10))

* 자르기(Slicing)

In [ ]:
# 자르기(Slicing)

# range - 정수 목록을 만드는 함수
nums = list(range(10))
print(nums)               # "[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
nums1 = list(range(2, 10))
print(nums1)               # "[2, 3, 4, 5, 6, 7, 8, 9]"
nums2 = list(range(2, 10, 2))
print(nums2)               # "[2, 4, 6, 8]"

In [ ]:
# 자르기
print(nums[2:4])          # "[2, 3]"
print(nums[7:])           # "[7, 8, 9]"
print(nums[:3])           # "[0, 1, 2]"
print(nums[:-2])          # "[0, 1, 2, 3, 4, 5, 6, 7]"

In [ ]:
# 잘라낸 곳(범위)에 리스트 끼워 넣기
print(nums)
nums[2:4] = [8, 9, 10]  
print(nums)               # "[0, 1, 8, 9, 10, 4, 5, 6, 7, 8, 9]"

* List 복사

In [ ]:
# list 복사

nums_copy_1 = nums
nums_copy_2 = nums[:]
print(nums_copy_1)            # "[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums_copy_2)            # "[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"

In [ ]:
# copy1의 첫번째 값 변경 후 원본과 비교해보기
nums_copy_1[0] = 'a'
print(nums_copy_1)            # "[a, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums_copy_2)            # "[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums)                   # "[a, 1, 2, 3, 4, 5, 6, 7, 8, 9]"

In [ ]:
# copy2의 첫번째 값 변경 후 원본과 비교해보기
nums_copy_2[0] = 'b'
print(nums_copy_1)            # "[a, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums_copy_2)            # "[b, 1, 2, 3, 4, 5, 6, 7, 8, 9]"
print(nums)                   # "[a, 1, 2, 3, 4, 5, 6, 7, 8, 9]"

* List와 반복문

In [ ]:
# 반복문(Loops)

animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#%d: %s' % (idx + 1, animal))
    
#위 표현을 format으로 바꿔보자!

In [ ]:
#반복문 조금 더 살펴보기
nums = [0, 1, 2, 3, 4]

In [ ]:
squares = []   #빈 리스트
print(squares)

In [ ]:
for x in nums:
    squares.append(x ** 2)
print(squares)

In [ ]:
# 반복문 확장 문법1
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]  # 파이썬스러운 문법
print(squares)

In [ ]:
# 반복문 확장 문법2 : 반복문 + 조건문
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]   #짝수인 값의 제곱을 구해서 even_squares 리스트에 넣기
print(even_squares)  # Prints "[0, 4, 16]"

### 실습 : Python_basics ③

In [ ]:
score = [75, 46, 93, -82, -77, 130, 100, 75, -10]

# 1) len 함수를 이용하여 score에 들어있는 element의 갯수를 구하시오


# 2) 첫번째와 다섯번째 element의 값을 출력하시오.


# 3) append를 이용하여 마지막에 숫자 80을 추가하시오


# 4) 첫번째부터 3번째까지의 element를 slice하세요.


# 5) score에서 음수를 제거한 리스트를 score01 변수에 담으세요. 


# 6) score01에서 100보다 큰 수를 제외한 리스트를 score02 변수에 담으세요.


# 7) score02 리스트의 element들 합과 평균을 구하시요


# 8) score02 리스트 각 element의 값을 10으로 나눈 값을 갖는 리스트 score03을 만드세요.

## 032. 자료형(Container) - Dictionaries

* (key, value) 구조.
* index의 개념.

In [ ]:
# dictionary 생성
d = {'cat': 'cute', 'dog': 'furry'}  
print(d)
print(type(d))

In [ ]:
# dictionary 특정 값 조회
print(d['cat'])       # "cute"

In [ ]:
# key 값이 들어있는지 확인
print('cat' in d)     # "True"
print('sheep' in d)     # "False"

In [ ]:
# 새로운 (key, value) 추가
d['fish'] = 'wet'  # fish 라는 키에 값으로 'Wet' 지정.
print(d['fish'])      # "wet"
# print(d['monkey'])  # KeyError: 'monkey'를 key로 가진 value가 없다

In [ ]:
# key가 없는 경우, default value 사용
print(d.get('monkey', 'N/A'))  # "N/A"
print(d.get('fish', 'N/A'))    # "wet"

In [ ]:
# 요소 삭제
del d['fish']
print(d.get('fish', 'N/A')) # "N/A"

* Dictionary와 반복문

In [ ]:
# 반복문1 
d = {'person': 2, 'cat': 4, 'spider': 8}
for key in d:
    value = d[key]
    print('A %s has %d legs' % (key, value))

In [ ]:
# 반복문 2
d = {'person': 2, 'cat': 4, 'spider': 8}

In [ ]:
d.items() # .items() : key와 value의 쌍을 튜플로 묶은 값을 dict_items 객체로 돌려준다

In [ ]:
# 딕셔너리에서 루프로 키와 값을 동시에 가져오려면 .items()  ( 리스트에서는 enumerate
for key, value in d.items():
    print('A %s has %d legs' % (key, value))

In [ ]:
# 확장 문법 - 반복문 + 제어문
animals = {'cat': 11, 'dog': 7, 'fish': 15, 'horse': 3}
animals_over_10 = {k: v for k, v in animals.items() if v > 10}
print(animals_over_10)  # "{'cat': 11, 'fish': 15}"

### 실습 : Python_basics ④

In [ ]:
stu01 = {
    "no": 1,
    "name": "한기영",
    "points": [92, 96, 98]
}
stu02 = {
    "no": 2,
    "name": "김정훈",
    "points": [58, 64, 100]
}
stu03 = {
    "no": 3,
    "name": "노경미",
    "points": [88, 84, 92]
}


# 1) 각 학생들의 번호에 10씩 더하세요.


# 2) 각 학생별로 점수 합계를 구하시오.


# 3) 아래 out을 이용하여 stu01, stu02, stu03의 번호, 이름, 평균점수를 출력하시오.
out = "번호: {}, 이름: {}, 평균점수: {}"

# 4) 아래 코드에 오류가 있습니다. 오류를 수정하여. key: value를 출력하는 코드를 완성하세요. 
for key, value in stu01:
    print("{} : {}".format(key, value))

## 033. 자료형(Container) - Sets

* 집합
* 중복된 값을 중첩되어 가지지 않는 리스트

In [ ]:
animals = {'cat', 'dog'}
print(animals)

# 요소가 있는지 체크
print('cat' in animals)   # "True"
print('fish' in animals)  # "False"

In [ ]:
# 요소 추가
animals.add('fish')
print('fish' in animals)  # "True"
print(animals)

In [ ]:
# set 요소 갯수
print(len(animals))       # "3"
animals.add('cat')        # 중복되어 추가해도 요소가 더 추가되지 않는다. 리스트와 비교.
print(len(animals))       # "3"
print(animals)

In [ ]:
# 요소 삭제
animals.remove('cat')     
print(len(animals))       # "2"

### List 비교

In [ ]:
# List 비교
list_animals = ['cat', 'dog', 'fish']
print(list_animals)
print(len(list_animals))       # "3"

In [ ]:
# list 요소 갯수
list_animals.append('cat')     # 중복되어도 요소가 더 추가된다.
print(len(list_animals))       # "4"
print(list_animals)

### 반복문

In [ ]:
# 반복문
animals = {'cat', 'dog', 'fish'}
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

## 034. 자료형(Container) - Tuples

In [ ]:
# 튜플 생성
t = (5, 6)
print(type(t))    # Prints "<class 'tuple'>"
print(t)    # "(5, 6)"

print(t[0])       # "5"

# dictionary의 키로 사용되는 tuple
d = {(1, 0): 10, (2, 0): 20, (0, 1): 1}
print(d[(1, 0)])  # "10"
print(d[(0, 1)])  # "1"

## 04. 함수(Function)

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

In [ ]:
def hello(name, loud=False):  #디폴트 파라미터는 순서상 뒤쪽
    if loud:
        print('HELLO, %s!' % name.upper())
    else:
        print('Hello, %s' % name)

hello('Bob')              # "Hello, Bob"
hello('Fred', loud=True)  # "HELLO, FRED!"

### 실습 : Python_basics ⑤

In [ ]:
# 1) 숫자의 list를 받아서 평균을 반환하는 average 함수를 만들어 보자. 
def average(list_points):
    # 여기를 작성해 주면 됩니다. 
    # 힌트: list_points의 요소의 평균을 계산해서 aver 변수에 담으면 됩니다. 

    return aver


points = [50, 60, 70, 80, 90, 100]
a = average(points)
print(a)

# 2) 1)번에서 만든 함수를 수정하시오 : 만약 빈(항목이 없는) 리스트가 입력될 경우 "리스트에 값이 없습니다."를 반환하도록 수정




blank_point = []
a = average(blank_point)
print(a)


# 3) score 값에 따라 등급을 반환해 주는 grade 함수를 완성하시오.
# 95점 이상 A+. 90점 이상 A, 85점 이상 B+, 80점 이상 B,
# 75점 이상 C+. 70점 이상 C, 60점 이상 D, 60점 미만 F
def grade(score):
    # 여기를 작성해 주면 됩니다. 
    # 힌트: score의 값을 확인해서 등급을 grade 변수에 담으면 됩니다. 
 
    return grade

print(grade(points[0]))
print(grade(points[1]))
print(grade(points[2]))
print(grade(points[3]))
print(grade(points[4]))
print(grade(points[5]))