# 04 Pandas

작성 : 김정훈

수정 : 한기영


#### 주의 : 판다스의 모든 것을 다루지 않습니다. Machine Learning 또는 Deep Learning을 공부하기 위해 최소한 알아야 하는 범위만을 다룹니다.



#### 선행지식
1. Python 언어 기초.
2. Numpy 라이브러리 기초.
3. table 구조의 데이터에 대한 이해. (엑셀 형태의 데이터)

#### 실습목표
1. csv 파일 읽는법. 
2. dataframe을 만드는 법.
2. dataframe을 다루기.
3. head, tail
4. 정렬
5. numpy array와 변환, 
6. 다양한 dataframe 연산.

## 0.라이브러리 불러오기 & 데이터 업로드

* csv 파일을 불러들이는 작업은 보통 pandas에서 합니다!

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
ls

## 1. Pandas Series

* 판다스 시리즈, 넘파이 1차원어레이, 리스트를 비교해봅시다.

In [ ]:
# Pandas Series
stock = pd.Series([92600, 92400, 92100, 94300, 92300])
print(stock[1:])

# Numpy rank 1 array
np_stock = np.array([92600, 92400, 92100, 94300, 92300])
print(np_stock[1:])

# python List
list_stock = [92600, 92400, 92100, 94300, 92300]
print(list_stock[1:] )

* 판다스 object의 메쏘드 형태로 차트를 그릴 수 있습니다.

In [ ]:
import matplotlib.pyplot as plt

stock1 = pd.Series([92600, 92400, 92100, 94300, 92300])
stock1.plot()
plt.show()

* Series의 Index 이름을 변경할 수 있다

In [ ]:
stock = pd.Series([92600, 92400, 92100, 94300, 92300]
         , index=['2018-02-19', '2018-02-18','2018-02-17','2018-02-16','2018-02-15'])
print(stock)

## 2. Pandas Dataframe

### 2.1 Dataframe 생성

In [ ]:
# Dataframes 생성
# Dictionary로 구조를 잡고
d = {
   'col1': ['Item0', 'Item0', 'Item1', 'Item1'],
   'col2': ['Gold', 'Bronze', 'Gold', 'Silver'],
   'col3': [1, 2, 3, 4]
}

# dataframe으로 변경
df = pd.DataFrame(d)
print(df)

In [ ]:
df1 = df['col1']
print(type(df1))
print(df1)

In [ ]:
df2 = df[['col1']]
print(type(df2))
print(df2)

<br>

*  Pandas DataFrame => Numpy Array 로 바꾸기

In [ ]:
# np.array()로 변환
np_array1 = np.array(df)
print(type(np_array1))
print(np_array1)
print(np_array1.shape)

In [ ]:
# .values 로 변환
np_array2 = df.values
print(type(np_array2))
print(np_array2)
print(np_array2.shape)

#### 이렇게 생성할 수 있으나 보통은 데이터 파일 / DB에서 가져옵니다.

<br>

### 2.2 CSV파일에서 데이터 불러오기

In [ ]:
# Loading CSV files
df = pd.read_csv('Graduate_apply.csv', sep=',', skipinitialspace=True)  # skipinitialspace 구분자 양쪽 공백은 제거.
df

In [ ]:
# 파일로 저장하기 : to_csv
df2.to_csv('file.csv', header=True, index=False, encoding='utf-8')

In [ ]:
ls

<br>

### 2.3 데이터 미리 보기

In [ ]:
# 첫 5개 행의 데이터를 보여줍니다.
df.head()

In [ ]:
# 마지막 3개 행의 데이터를 보여줍니다.
df.tail(3)

In [ ]:
# 데이터 프레임 모양 확인 - (rows, cols) tuple
df.shape

#### 칼럼정보 조회

In [ ]:
# 칼럼명 출력
print(df.columns)
print(list(df))

In [ ]:
# 각 칼럼의 데이터 타입
df.dtypes

#### numpy Array로 변환

In [ ]:
# 데이터 출력 - numpy array
df.values

#### 기초통계량 : 평균, 표준편차, quartile

In [ ]:
# 기초통계량
df.describe()

#### 정렬

In [ ]:
# index로 정렬
df.sort_index(axis=0, ascending=False).head()

In [ ]:
# 특정 컬럼의 값으로 정렬
df.sort_values(by=['admit', 'gpa'], ascending=False).head()

<br>

#### 실습

In [ ]:
# 1) pandas read_csv 함수를 이용하여 graduate_apply.csv 파일을 읽고, data_frame 변수에 담습니다. 

# 2) data_frame의 shape를 확인합니다.

# 3) data_frame의 칼럼명과 각 칼럼의 데이터 타입을 확인합니다.

# 4) data_frame의 데이터의 첫 3행의 데이터와 마지막 3행의 데이터를 출력합니다.

# 5) data_frame의 데이터를 numpy array로 변환하여 출력합니다.

# 6) data_frame의 데이터를 'gra' 칼럼을 기준으로 오름차순으로 정렬합니다.

<br>

### 2.4 원하는 데이터 조회하기

#### 칼럼 명으로 조회

In [ ]:
# 칼럼명으로 조회 1 칼럼명에 한글이나 특수문자 들어가면 문제가 될 수 있음. 비추!
df.gre.head()
# df_gre1 = df.gre.head()
# type(df_gre1)

In [ ]:
# 칼럼명으로 조회 2
df['gre'].head()

# df_gre2 = df['gre'].head()
# type(df_gre2)

In [ ]:
# 중복 제거 .unique()
df['gre'].unique()

In [ ]:
# 칼럼명으로 조회 3
df[['gre']].head()

In [ ]:
# 두 개의 칼럼 동시 조회
df[['gpa', 'gre']].head()

<br>

#### 행번호로 조회하기 .iloc()

In [ ]:
# 행번호 1 조회 : 1개 행으로 조회하면 pandas series
df.iloc[1]

# df1 = df.iloc[1]
# type(df1)

In [ ]:
# 행번호 1~3 조회 : 범위로 조회하면 dataframe
df.iloc[1:3]

In [ ]:
# 0번째 row, 0번째 column
df.iloc[0, 0]

In [ ]:
# 0~4 rows & 0~2 columns
df.iloc[0:4, 0:2]

<br>

#### 조건으로 조회하기

In [ ]:
# 조건을 비교한 결과(True/False) 값으로 반환됨. 

(df['gpa'] > 3.5).head()

In [ ]:
# 조건을 비교한 결과 True 인 값을 조회
df[df['gpa'] > 3.0].head()

In [ ]:
# 랭크 1,2에 해당되는 데이터 조회하기 : 여러값을 한꺼번에 비교할 때 .isin()
df[df['rank'].isin([1, 2])].head()

In [ ]:
# and, or 조건으로 여러 조건 함께 조회하기 : and = &, or = |
df[(df['gpa'] > 3.0) & (df['rank'] == 3)].head()

In [ ]:
# A disjunction query using two columns
df[(df['gpa'] > 3.0) | (df['rank'] == 3)].head()

In [ ]:
# Dataframes 생성
d = {
   'col1': ['Item0', 'Item0', 'Item1', 'Item1'],
   'col2': ['Gold', 'Bronze', 'Gold', 'Silver'],
   'col3': [1, 2, 3, 4]
}
df1 = pd.DataFrame(d)

# 문자열이 들어있는 row만 조회
df1[df1.col2.str.contains('ilver')]

### 실습

In [ ]:
# pandas read_csv 함수를 이용하여 graduate_apply.csv 파일을 읽고, data_frame 변수에 담습니다. 

# data_frame의 shape를 확인합니다.

# data_frame의 칼럼명과 각 칼럼의 데이터 타입을 확인합니다.

# 1) unique 함수를 가지고 'rank'의 칼럼에 들어있는 데이터의 종류를 확인합니다.

# 2) gre 점수가 평균 이상이면서 rank가 4인 사람을 조회하시오.

<br>

### 2.5 Dataframe 수정하기

In [ ]:
# 행 이름과 칼럼이름으로 조회 & 수정
df1.loc[1, 'col2'] = 'Bronze and Gold' 
df1

In [ ]:
# 행번호, 열번호로 조회 & 수정
df1.iloc[1, 1] = 'Bronze again' 
df1

In [ ]:
['Unknown0'] * 3

In [ ]:
# 구간을 특정 값으로 채우기
df1.loc[1:3, 'col3'] = ['Unknown0'] * 3
df1

In [ ]:
# 구간을 특정 값으로 채우기
df1.loc[1:3, 'col3'] = 'NA'
df1

<br>

####  Dummy variable만들기 : 중요!

In [ ]:
# 다시 불러오자
df = pd.read_csv('Graduate_apply.csv', sep=',', skipinitialspace=True)
df.head()

In [ ]:
# rank 열은 범주형이므로 Dummy Variable로 변환해보자.
df_rank = pd.get_dummies(df['rank'])
print(df_rank.head())
print("---------------------------------------")



# Dummy 데이터를 원래 데이터와 합치기
df_new = pd.concat([df, df_rank], axis=1)
print(df_new.head())
print("---------------------------------------")

# 특정 칼럼 제거하기
df_new.drop('rank', axis=1, inplace=True)
print(df_new.head())

* 칼럼이름 수정하기

In [ ]:
# 전체수정
#df_new.columns = ['admit', 'gre', 'gpa', 'rank_1', 'rank_2', 'rank_3', 'rank_4']

# 부분수정
df_new.columns.values[3:] = ['rank_1', 'rank_2', 'rank_3', 'rank_4']

In [ ]:
df_new.head()

In [ ]:
# 여러 칼럼 동시 제거하기
df_new.drop(['gre', 'gpa'], axis=1, inplace=True)
print(df_new.head())

### 실습

In [ ]:
# 1) titanic_simple.csv파일을 불러와서 pandas dataframe 'titanic'으로 저장
titanic = pd.read_csv('titanic_simple.csv', sep=',', skipinitialspace=True)

# 2) 상위 10개 행의 데이터를 조회합니다.

# 3) titanic의 shape를 확인합니다.

# 4) 각 칼럼별 NaN이 몇 건이나 있는지 확인합니다.

# 5) 객실등급(Pclass)이 1등급 이고, 나이(Age)가 5세 이하의 탑승객을 조회하시오.

# 6) 객실등급(Pclass)는 범주형 데이터입니다. Dummy variable로 변환하여 기존 데이터셋과 붙이시오.

<br>

### 2.6 Group by, Join, Rolling

In [ ]:
# 다시 불러옵시다.
df = pd.read_csv('Graduate_apply.csv', sep=',', skipinitialspace=True)
df.head()

### Group by

In [ ]:
# rank 별 gre 평균 점수를 조회해보자.
df.groupby(by=['rank'], as_index = False)['gre'].mean()  #as_index = True이면 결과가 series로 나옴.

In [ ]:
# rank별 admit 별 gre와 gpa 평균 점수를 조회
df.groupby(by = ['rank', 'admit'], as_index=False)['gre', 'gpa'].mean()

In [ ]:
df.groupby(by = ['rank', 'admit'], as_index=False)['gre', 'gpa'].std()

rank 값이 이상해 지는 것은 pandas 버그!! .std 함수 쓸 때 발생됨. <br>
미봉책은 join에서 다뤄봅니다.^^

In [ ]:
df.groupby(by = ['rank', 'admit'], as_index=False).count()

In [ ]:
df.groupby(by = ['rank', 'admit'], as_index=False)['gre'].count()

#### 칼럼의 이름을 변경해 봅시다.

In [ ]:
df_by_rank = df.groupby(by = ['rank'], as_index=False)['gre'].mean()
df_by_rank.head()

In [ ]:
if 'gre' in df_by_rank.columns :
    df_by_rank.rename(columns={'gre':'gre_mean'}, inplace = True)

In [ ]:
df_by_rank.head()

### 실습

In [ ]:
## Your Code

# 1) rank, admit 별 gre의 최대값을 출력한 후 df_max에 저장하시오.

# 2) 열 이름을 gre_max로 변경하시오

### Join

In [ ]:
mean_by_rank = df.groupby(by = ['rank'], as_index=False)['gre', 'gpa'].mean()
mean_by_rank.rename(columns = {'gre':'gre_mean', 'gpa':'gpa_mean'}, inplace = True)
mean_by_rank

In [ ]:
'''
pandas,  ver0.22.0 기준으로 버그인 rank가 이상한 값으로 보이지만 값들은 정상입니다.
'''
std_by_rank = df.groupby(by = ['rank'], as_index=False)['gre', 'gpa'].std()
std_by_rank.rename(columns = {'gre':'gre_std', 'gpa':'gpa_std'}, inplace = True)
std_by_rank

In [ ]:
# 이상한 값을 맞춰준 후
std_by_rank['rank'] = mean_by_rank['rank']
std_by_rank

* 판다스에서 join은 굉장히 간단합니다.
* 자동으로 key를 잡아줍니다
* default로 inner join을 합니다.

In [ ]:
pd.merge(mean_by_rank, std_by_rank) #공통된 칼럼이 있으면 그 칼럼을 key로 사용

how 파라미터에 값을 지정하여 outer join을 수행합니다. <br>
how='inner'   <br>
==> left, rigth, outer

In [ ]:
pd.merge(mean_by_rank, std_by_rank, on = 'rank', how = 'left')

multiple key에 대해서도 자동으로 join이 됩니다!

In [ ]:
mean_by_rank2 = df.groupby(by = ['rank', 'admit'], as_index=False)['gre', 'gpa'].mean()
mean_by_rank2.rename(columns = {'gre':'gre_mean', 'gpa':'gpa_mean'}, inplace = True)
mean_by_rank2

In [ ]:
std_by_rank2 = df.groupby(by = ['rank','admit'], as_index=False)['gre', 'gpa'].std()
std_by_rank2.rename(columns = {'gre':'gre_std', 'gpa':'gpa_std'}, inplace = True)
std_by_rank2['rank'] = mean_by_rank2['rank']
std_by_rank2

In [ ]:
pd.merge(mean_by_rank2,std_by_rank2)  #같은 칼럼들을 Key값으로 인식

### 실습

In [ ]:
# 1) gre, gpa 최대값을 담는 데이터프레임을 만드시오.


# 2) gre, gpa 최소값을 담는 데이터프레임을 만드시오.


# 3) 위 1),2) 데이터프레임을 조인해서 합치시오.

### Rolling
rolling은 주로 시계열 데이터에 대해서 이동평균값을 구하거나, 행을 shift(이동) 시킬 때 주로 사용합니다!

In [ ]:
import pandas as pd

In [ ]:
stock = pd.read_csv('shinhanFinance.csv', sep=',', skipinitialspace=True) 
stock.head()

Date 와 Close 가격만을 남깁니다.

In [ ]:
stock = stock[['Date', 'Close']]
stock.head()

기준일 포함하여 과거 3일의 평균을 데이터 프레임에 붙여봅시다.

In [ ]:
stock['Close_MA_3'] = stock['Close'].rolling(3).mean()
stock.head(10)

In [ ]:
stock['Close_MA_3_lag1'] = stock['Close_MA_3'].shift() # shift()안에 숫자를 변경해 보며 기능을 알아보자. default = 1
stock.head(8)

min_periods를 기억하자

In [ ]:
stock['Close_MA_3(2)'] = stock['Close'].rolling(3, min_periods=1).mean()
stock.head(8)

기준일 포함하여 과거 3일 중 최대값은 어떨까요?

In [ ]:
stock['Close_MM_3'] = stock['Close'].rolling(3).max()
stock.head(10)

기준일을 포함하지 않은, 과거 3일의 평균을 붙인다면?

### 실습

In [ ]:
# 1) stock 옆에, 과거 3일의 최대값을 추가하세요.


# 2) 기준일을 포함하지 않은, 과거 3일의 최대값을 추가하세요.

### NaN값 찾고, 채우기

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10,6))
# Make a few areas have NaN values
df.iloc[1:3,1] = np.nan
df.iloc[5,3] = np.nan
df.iloc[7:9,5] = np.nan


#values = {1: 0.5, 3: 1.5, 5: 2.5}
#df.fillna(value=values)
df

#### NaN 값 찾기

In [ ]:
df.isnull()

In [ ]:
df.isnull().any()

In [ ]:
df.isnull().sum()

#### NaN 값 채우기

In [ ]:
# NaN을 특정 값으로 채우기
df.fillna(0)

In [ ]:
values = {1: 0.5, 3: 1.5, 5: 2.5}
df.fillna(value=values)

In [ ]:
# 전 값으로 채우기
print(df)
print(df.fillna(method = 'ffill'))

# 이후 값으로 채우려면, fillna(method='bfill' or 'backfill')

<br>

## 03. Pandas Dataframe with matplotlib

### 1) 주가 이동평균선 만들고 날짜 축 기준으로 라인차트 그리기

데이터를 불러와서 이동평균값을 계산하여 칼럼을 추가한다.

In [ ]:
stock = pd.read_csv('shinhanFinance.csv', sep=',', skipinitialspace=True) 
stock = stock[['Date', 'Close']]
stock['Close_MA_5'] = stock['Close'].rolling(5).mean().shift(-1)
stock['Close_MA_10'] = stock['Close'].rolling(10).mean().shift(-1)
stock['Close_MA_20'] = stock['Close'].rolling(20).mean().shift(-1)

stock.head(10)

#### x축을 날짜로 지정하기 위해서는 두가지 작업을 해야 합니다.
1) 날짜 칼럼을 to_datetime으로 형식을 변환하고, <br>
2) 행의 인덱스로 지정한다.

In [ ]:
stock.dtypes

In [ ]:
# 1) to_datetime
stock.Date = pd.to_datetime(stock.Date, format='%Y-%m-%d')
stock.dtypes

In [ ]:
# 2) 날짜를 인덱스로.
stock.set_index(['Date'],inplace=True)

In [ ]:
stock.head(20)

In [ ]:
stock.plot(y='Close')  #x축은 인덱스값을 기본값으로 가져오므로 y축만 지정하면 된다.

In [ ]:
stock.plot(y=['Close','Close_MA_5']) #y축 칼럼을 여러개 지정하기

In [ ]:
stock.plot()   #전체칼럼 포함시키려면 모두 기본값으로 실행

In [ ]:
stock.plot(figsize = (10,8))    # 사이즈 키우려면 figsize에 가로,세로 값을 지정해주자.

### 2) Graduate School 지원 데이터를 이용하여 차트그리기

In [ ]:
# Loading CSV files
graduate = pd.read_csv('Graduate_apply.csv', sep=',', skipinitialspace=True)  # skipinitialspace 구분자 양쪽 공백은 제거.
graduate.head()

#### ① GRE, GPA 분포 살펴보기

먼저 히스토그램으로 살펴보자

In [ ]:
# gre 전체 분포 살펴보기
graduate.hist(column = 'gre', bins = 5) #bin의 개수를 조정하면서 분포를 살펴보자

In [ ]:
# 합격여부와 gre 점수와 관련이 있을까?
graduate.hist(column = 'gre', by='admit', bins = 5)

In [ ]:
# gpa 분포 살펴보기
graduate.hist(column = 'gpa', bins = 5) #역시 bin의 개수를 조정하며 분포를 살펴보자

In [ ]:
# gpa 점수는 합격여부와 관련이 있을까?
graduate.hist(column = 'gpa', by='admit', bins = 5)

boxplot으로도 비교해보자

In [ ]:
graduate.boxplot(column = 'gre', by='admit')

In [ ]:
graduate.boxplot(column = 'gpa', by='admit')

gre와 gpa 점수가 합격여부와 열마나 관련이 있는지 통계적으로는 F-test를 통해서 값을 검정할 필요가 있습니다.

#### ② 대학 랭킹과 합격여부 살펴보기

In [ ]:
# rank별 count 하기
print(graduate['rank'].value_counts())
print(graduate['rank'].value_counts().sort_index())

In [ ]:
# 불합격자에 대해서 rank별 count 하기
graduate[graduate['admit']== 0]['rank'].value_counts().sort_index()

In [ ]:
# 합격자, 불합격자에 대해서 rank별 count 하기
admit_0 = graduate[graduate['admit']== 0]['rank'].value_counts().sort_index()
admit_1 = graduate[graduate['admit']== 1]['rank'].value_counts().sort_index()

In [ ]:
# 합,불합격자 Series를 합쳐서 데이터프레임으로 만들기
df = pd.DataFrame({'admit0':admit_0, 'admit1':admit_1})

In [ ]:
df.plot.bar()

범주형데이터와 범주형데이터가 관련이 있는지를 통계적으로 분석하기 위해서는 Chi-Square test를 통해서 검정해야 합니다.

#### ③ gre와 gpa는 어떤 관련이 있을까?

In [ ]:
graduate.plot.scatter('gre','gpa')

연속형데이터와 연속형데이터가 관련이 있는지는 상관계수를 구해서 상관성을 살펴보게 됩니다.

<br>

### 실습

In [ ]:
# titanic_simple.csv파일을 불러와서 pandas dataframe 'titanic'으로 저장
titanic = pd.read_csv('titanic_simple.csv', sep=',', skipinitialspace=True)
titanic.head()

# 1) 히스토그램을 이용하여 나이(Age)의 분포를 살펴봅시다.


# 2) 생존여부(Survived)와 나이(Age)가 관련이 있는지 히스토그램을 그려봅시다.


# 3)성별에 따른 생존여부를 확인하기 위한 bar chart를 그려봅시다.